body {
	background:tomato;
	padding:0;
	margin:0;
}
.container {
	width:1000px;
	height:2300px;
	margin: 50px auto;
	background:gray;
	position:relative;
}
.container h1{
	margin:0px;
	font-family:impact;
	text-align:center;
	color:purple;
	background-color:orange;
}
.inner-div {
	margin:0 auto;
	width:400px;
	height:400px
}